// in here we can add global vars for scss like so:

$InvokersBg: #f0f2eb;
$InvokersBgDark: #e3e5de;
$BorderColor: #dbdbdb;
//$primary: #00abb7;
//$info: #eb8500;
//$text: #044347;
//$tilebg: #426976;
//$sbane: #AA1420;
//$fjernbane: #213155;
